<tr id="task_<%= task.id %>" class="item" >
  <td class="td_move"><%= image_tag('move.png') %></td>
  <td class="td_checkbox">
    <%= form_for task, remote: true do |f| %>
      <%= f.check_box(:done, checked: task.done, id: "task_checkbox_#{task.id}", class: 'task_checkbox') %>
    <% end %>
  </td>
  <td class="td_title"><span class="<% if task.done==true %>done<% else %>undone<% end %>"><%= link_to task.title, edit_task_path(task), remote: true %></span></td>
  <td class="td_edit"><%= link_to image_tag('edit.png'), edit_task_path(task), remote: true %></td>
  <td class="td_delete"><%= link_to image_tag('trash.png'), task, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
