<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= form_for @task, remote: true do |f| %>
    <%= f.text_field :title %>
    <%= f.submit %>
<% end %>

</br>

<table>
  <tbody id="tasks">
    <%= render(@tasks) %>
  </tbody>
</table>

<br>

